a, p, h3{
	font-family:arial,sans-serif;
	text-decoration: none;
}
em{
	font-weight:bold;
	font-style: normal;
}
span{
	color:#808080;
}

.navbar{
	background-color: #F1F1F1;
	border-bottom: 1px solid #E5E5E5;
	height:59px; width:100%;
	position:absolute;
	top:0;
	display:inline-block;
	
}
#logo{
	background-image: url('https://www.google.com/images/nav_logo231.png');
	background-repeat: no-repeat;
	height:37px;
	width:160px;
	background-position: 0px -375px;
	position: relative;
	top:14px;
	left:15px;
}

.navbar input[type="search"]{
	position: absolute;
	top:10px;
	width: 592px;
	height: 40px;
	left: 125px;
	font-weight: normal;
	font-size: 11pt;
	line-height: 26px;
}
#search_button{
	position:absolute;
	top:10px;
	left:715px;
	height:40px;
	width:38px;
	background-color:#4285F4;
	background-image: url('https://www.google.com/images/nav_logo231.png');
	background-repeat: no-repeat;
	background-position: -107.5px -54px;
	border: 7px solid #4285F4;
}
#Sign_in{
	width: 69.3167px; height: 30px;
	position:absolute;
	background:#4387FD;
	border: 1px #4387FD;
	border-radius: 1.5px;
	font-family: arial;
	font-weight:bold;
	font-size: 13px;
	color:#FFF;
	top:15px;
	right:45px;
}

#My_apps{
	position: absolute;
	top: 17.5px;
	right:125px;
	background-color: #F1F1F1;
	background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
	background-repeat: no-repeat;
	background-position: -134px -40px;
	height:30px;
	width:30px;
}
.rnav_box{
	height:119px;
	width:100%;
	border-bottom: 1px solid #E5E5E5;
}
#Web{
	position:absolute;
	top:81px;
	left:135px;

}
#Videos{
	position:absolute;
	top:81px;
	left:195px;
}
#Shopping{
	position:absolute;
	top:81px;
	left:265px;
}
#News{
	position:absolute;
	top:81px;
	left:353px;
}
#Images{
	position:absolute;
	top:81px;
	left: 418px;
}
#More{
	position:absolute;
	top:81px;
	left:493px;
}

#dwn_arrw{
	border-color:#909090 transparent;
	border-style:solid;
	border-width:4px 4px 0px;
	width:0px;
	height:0px;
	position:absolute;
	top:87px;
	left:527px;
}

#Search_tools{
	position:absolute;
	top:81px;
	left:563px;

}

.results_nav a{
	color:#777;
	font-size: 10pt;

}
#set_butt{
	width: 69.3167px;
	height:30px;
	background-color:#F1F1F1;
	border:1px solid #E5E5E5;
	border-radius: 1.5px;
	position:absolute;
	top:74px;
	right:39px; 
}
#set_wheel{
	height:21px;
	width:21px;
	background-image: url('https://www.google.com/images/nav_logo231.png');
	background-repeat: no-repeat;
	background-position: -40px -257.5px;
	position: absolute;
	top:4px;
	right:24px;
	background-color:#F1F1F1;
	
}
#res_specs{
	position:absolute;
	top:120px;
	left:135px;
	color:#808080;
	line-height: 43px;
	font-size: small;
}
.results{
	height:1005px;
	width:520px;
	float:left;
	margin:52px 0 0 140px;
	line-height: 1.2;
	text-align: left;
}
h3{
	font-size: 13.56pt;
	font-weight:normal;

}
h3 a, .r_s_col a{
	color:#1A0DAB;
}
.cite{
	font-size: 14px;
	color:#006621;
}
#c_tri{
	border-color:#006621 transparent;
	border-style:solid;
	border-width:5px 4px 0px;
	width:0px;
	height:0px;
	margin:6px 6px 0 4px;
}

.blurb{
	font-size: 14px;
	color:#808080;
}

#b_tri{
	border-color:#808080 transparent;
	border-style:solid;
	border-width:5px 4px 0px;
	width:0px;
	height:0px;
	margin:6px 8px 0 4px;
}

#res_blur{
	font-size: small;
	line-height: 1.4;
	color:#545454;
}
.c_b{
	display: flex;
}

.g{
	margin-bottom: 25px;
}
.related_searches{
	height:160px;
	width:520px;
	float:left;
	clear:left;
	margin:0 0 10px 140px;
	border-bottom:1px solid #F1F1F1;
	border-top: 1px solid #F1F1F1;
}

#r_s_h{
	padding-top: 20px;
	padding-bottom: 7px;
}

.r_s_col {
	font-size: 13px;
	line-height: 20px;
	padding-right: 16px;
	display: inline-block;
	padding-bottom: 1px;
}

.r_s_col p{
	padding-top: 5px;
}

table{
	height:50px;
	width:308px;
	float:left;
	clear:left;
	margin:10px 0px 25px 250px;
	display:inline-block;
}
.Cap_g{
	background: url('https://www.google.com/images/nav_logo231.png') no-repeat scroll;
	background-position: -23px 0px;
	height:47px;
	width:30px;

}

#P1{
	background: url('https://www.google.com/images/nav_logo231.png') no-repeat scroll;
	background-position: -53px 0px;
	height:36px;
	width:20px;
}

#P1 p{
	font-size: small;
	text-align:right;
	color:#222;
}

.Yell_O{
	background: url('https://www.google.com/images/nav_logo231.png') no-repeat scroll;
	background-position: -75px 0px;
	height:37px;
	width:20px;
}

#Next{
	background: url('https://www.google.com/images/nav_logo231.png') no-repeat scroll;
	background-position: -95px 0px;
	height:37px;
	width:80px;
}
#N_Link{
	height:10px;
	width:80px;
	text-align: right;
}

td a{
	color:#4285F4;
	font-size: small;
}

.g_links{
	line-height: 30px;
	margin: 20px 0 0 110px;
	clear:left;

}

footer{
	float:left;
	width:100%;
	height:82px;
	background-color: #F1F1F1;
	border-top: 1px solid #E5E5E5;
	bottom:0;
	clear:both;
	
}
footer a, .approx_loc a{
	color: #666;
	font-size: small;
}
.set_loc{
	width:500px;
	height:20px;
	float: inherit;
	margin-left: 137px;
	margin-top: 20px;
	display:inline;
}
#circle{
	height:8px;
	width:8px;
	border-radius:100%;
	display:inline-block;
	float:inherit;
	background:#9A9FA4;
	border:1px solid #9A9FA4;
	margin:1px 5px 10px 1px;
}
.approx_loc{
	font-size: small;
	display:inline-block;
	text-align: left;
	float:inherit;
}
.approx_loc p{
	color:#AAA;
}


.g_links{
	line-height: 30px;
	margin: 20px 0 0 110px;
	clear:left;

}

#Help{
	float:inherit;
	padding-left:27px;
}
#Feedback{
	float:inherit;
	padding-left:27px;
}
#Privacy{
	float:inherit;
	padding-left:27px;
}
#Terms{
	float: inherit;
	padding-left:27px;
}
