
li{
	display: inline;
}
footer, .search_bar input[type="button"]{
	background: #C0C0C0;
}
#user_nav{
	position:absolute;
	right: 5px;

}

#user_nav input[type="button"]{
	width: 100px; height: 30px;
	background:#4169E1;
	border: #4169E1;
	border-radius: 3px;
}
a{
	text-decoration: none;
}
footer{
	position: absolute;
	bottom:0;
	height: 45px;
	width: 100%;
}
.r_links{
	position:absolute;
	right: 10px;
	bottom: 15px;
	word-spacing:30px;

}

.l_links{
	position:absolute;
	left: 10px;
	bottom: 15px;
	word-spacing: 30px;
}