
li{
	display: inline;
}
footer, .search_bar input[type="button"]{
	background: #C0C0C0;
}
.user_nav{
	position:absolute;
	right: 5px;
	top: 13.5px;

}

.user_nav input[type="button"]{
	width: 43.31px; height: 28px;
	background:#4169E1;
	border: #4169E1;
	border-radius: 3px;
	font-family: arial;
	font-size: 12px;
}

#logo{
	position: absolute;
	top: 200px;
	bottom:200px;
	left:550px;
	margin:0;
	padding:0;
	max-height:92px;
	max-width:272px;
}

.search_bar{
	display:inline-block;
}

.search_bar input[type="search"]{
	height:40px;
	width:595px;
	position: absolute;
	top: 320px;
	bottom:600px;
	left:397px;
	color:blue;
}

#reg_search{
	position: absolute;
	top: 375px;
	left:535px;
	height:34px;
	width:131px;
	padding:0 16;
	margin: 11 4;
	border:1;
}
#ifl_search{
	position: absolute;
	top: 375px;
	left:675px;
	height:34px;
	width:131px;
	padding:0 16;
	margin: 11 4;
	border:1;
}
a{
	text-decoration: none;
	color:gray;

}
footer{
	position: absolute;
	bottom:0;
	height: 45px;
	width: 100%;
}
.r_links{
	position:absolute;
	right: 10px;
	bottom: 15px;
	word-spacing:30px;

}

.l_links{
	position:absolute;
	left: 10px;
	bottom: 15px;
	word-spacing: 30px;
}